[defaults]
inventory = inventory/hosts.yml
remote_user = jaffleman
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
roles_path = roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
pipelining = True
ssh_args = -o IdentityFile=~/.ssh/ansible_ed25519
