apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ app_name }}-db-sync
  namespace: {{ app_namespace }}
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: vault-backend
    kind: SecretStore
  target:
    name: {{ app_name }}-db-auth
    creationPolicy: Owner
  data:
    - secretKey: password
      remoteRef:
        key: {{ vault_secret_path }}
        property: password

    - secretKey: user
      remoteRef:
        key: {{ vault_secret_path }}
        property: user

    - secretKey: db
      remoteRef:
        key: {{ vault_secret_path }}
        property: db
