apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: vault-backend
  namespace: {{ app_namespace }}
spec:
  provider:
    vault:
      server: "https://vault.jaffleman.tech:8200"
      path: "k3s"
      version: "v2"
      auth:
        appRole:
          path: "approle"
          roleId: "{{ global_vault_role_id }}"
          secretRef:
            name: vault-approle-token
            key: secret-id
